<h1 style="color:azure">Shopping Cart</h1>

<% @cart_items.each do |item| %>
  <p><%= item.book.title %> - <%= item.quantity %> - <%= item.book.price %></p>
<% end %>

<p>Total Price: <%= @total_price %></p>
